### Exp 4
### Vaidehi Vatsaraj
### 2018130060

#### Perform statistical data analysis such as: Estimators of the main statistical measures (mean, variance, standard deviation, covariance correlation, standard error), Main distributions ( Normal distribution, chi-square distribution), Hypothesis testing, pair-wise association (Pearson correlation test, t-test, ANOVA), Non-parametric test (Spearman rank0 etc)

## Analyze statistical data using Python/R programming

#### Importing the necessary libraries

In [8]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('./weatherHistory.csv')
df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [11]:
print("Shape of data: ",df.shape)
df.info()

Shape of data:  (96453, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 7.4+ MB

In [12]:
df.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

In [13]:
df_descrb = df.describe().T
print('Range for temperature variable:',df_descrb.loc['Temperature (C)']['max']-df_descrb.loc['Temperature (C)']['min'])
print('Range for Apparent Tempearture variable:',df_descrb.loc['Apparent Temperature (C)']['max']-df_descrb.loc['Apparent Temperature (C)']['min'])
print('Range for Wind variable:',df_descrb.loc['Wind Speed (km/h)']['max']-df_descrb.loc['Wind Speed (km/h)']['min'])
print('Range for Humidity variable:',df_descrb.loc['Humidity']['max']-df_descrb.loc['Humidity']['min'])
print('Range for Visibility variable:',df_descrb.loc['Visibility (km)']['max']-df_descrb.loc['Visibility (km)']['min'])
df_descrb

Range for temperature variable: 61.727777777777774
Range for Apparent Tempearture variable: 67.0611111111111
Range for Wind variable: 63.8526
Range for Humidity variable: 1.0
Range for Visibility variable: 16.1

,count,mean,std,min,25%,50%,75%,max
Temperature (C),96453.0,11.932678,9.551546,-21.822222,4.688889,12.0000,18.838889,39.905556
Apparent Temperature (C),96453.0,10.855029,10.696847,-27.716667,2.311111,12.0000,18.838889,39.344444
Humidity,96453.0,0.734899,0.195473,0.000000,0.600000,0.7800,0.890000,1.000000
Wind Speed (km/h),96453.0,10.810640,6.913571,0.000000,5.828200,9.9659,14.135800,63.852600
Wind Bearing (degrees),96453.0,187.509232,107.383428,0.000000,116.000000,180.0000,290.000000,359.000000
Visibility (km),96453.0,10.347325,4.192123,0.000000,8.339800,10.0464,14.812000,16.100000
Loud Cover,96453.0,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000
Pressure (millibars),96453.0,1003.235956,116.969906,0.000000,1011.900000,1016.4500,1021.090000,1046.380000

In [17]:
from scipy.stats import ttest_1samp
humidity_mean = np.mean(df['Humidity'])
print(humidity_mean)

0.7348989663359355

In [18]:
sample = df['Humidity'].sample(n=20)
tset, pval = ttest_1samp(sample, humidity_mean)
print(pval)

0.8254960806848837

In [19]:
if pval < 0.05:    # alpha value is 0.05 or 5%
   print(" we are rejecting null hypothesis")
else:
  print("we are accepting null hypothesis")

we are accepting null hypothesis

### Hypothesis Testing
#### Prove (or disprove) with statistical evidence that the humidity of high means is different from humidity from low means.
Let  μ1, μ2  and be the respective population means for Ozone of lows and Ozone of highs


**Step 1: Define null and alternative hypothesis**

 **H0:** μ1−μ2=0 There is no difference between the humidity of low and humidity of high.
 
 **Ha:** μ1−μ2!=0  There is difference between the humidity of low and humidity of high.


**Step 2: Decide the significance level**: α = 0.05


**Step 3: Identify the test**: Independent T-test

A t-test is used to compare the mean of two given samples. Like a z-test, a t-test also assumes a normal distribution of the sample. A t-test is used when the population parameters (mean and standard deviation) are not known.

Independent T-Test: Independent samples t-test which compares mean for two groups.


**Step 4: Calculate the test-statistics and p-value**
    
Here, the test-statistic is called t-statistic, the score for which is calculated as:
    
t = (x1 — x2) / (σ / √n1 + σ / √n2)

where

x1 = mean of sample 1

x2 = mean of sample 2

n1 = size of sample 1

n2 = size of sample 2


**Step 5: Decide to reject or accept null hypothesis**

The observation is that p-value(0.09) is greater than the significance level alpha(0.05).

#### **Conclusion**

1) Hence, I failed to reject the null hypothesis and I conclude that there is no difference between Humidity of highs and Ozone of lows.
2) I formulated a hypothesis, but based on the observation (P and alpha), the hypothesis failed and the it was observed that there is no difference between Ozone of highs and Lows.